@import url(https://fonts.googleapis.com/css?family=Anton|Bangers|Architects+Daughter);
/*
font-family: 'Anton', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Architects Daughter', cursive;
*/
/* line 12, ../../../compass/sass/front/birthday/front.scss */
.no-pad-left {
  padding-left: 0;
}

/* line 16, ../../../compass/sass/front/birthday/front.scss */
.no-pad-right {
  padding-right: 0;
}

/* line 20, ../../../compass/sass/front/birthday/front.scss */
.header {
  margin-bottom: 120px;
  padding-top: 80px;
}

/* line 25, ../../../compass/sass/front/birthday/front.scss */
h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 60px;
  padding: 0px;
  margin: 0;
  color: #FF9800;
}

/* line 33, ../../../compass/sass/front/birthday/front.scss */
img {
  max-width: 100%;
}

/* line 37, ../../../compass/sass/front/birthday/front.scss */
.panel-object {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 30px;
  border: 3px solid #fff;
}
/* line 45, ../../../compass/sass/front/birthday/front.scss */
.panel-object.gifted {
  opacity: 0.5;
  transition: opacity .3s;
}
/* line 49, ../../../compass/sass/front/birthday/front.scss */
.panel-object.gifted:hover {
  opacity: 1;
}
/* line 54, ../../../compass/sass/front/birthday/front.scss */
.panel-object .delete-obj {
  position: absolute;
  top: -15px;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height: 25px;
  background: #FF9800;
  border-radius: 50%;
  border: 3px solid #fff;
}
/* line 68, ../../../compass/sass/front/birthday/front.scss */
.panel-object .nom {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  background: #FF9800;
  color: #fff;
}
/* line 78, ../../../compass/sass/front/birthday/front.scss */
.panel-object .prix .btn {
  border-radius: 0;
  border: none;
}
/* line 84, ../../../compass/sass/front/birthday/front.scss */
.panel-object.btn-add {
  box-shadow: none;
  border: 2px dashed #bcbcbc;
  text-align: center;
  line-height: 400px;
  font-size: 150px;
  color: #333;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.35);
}
/* line 94, ../../../compass/sass/front/birthday/front.scss */
.panel-object.btn-add:hover, .panel-object.btn-add:focus {
  color: #FF9800;
}

/* line 101, ../../../compass/sass/front/birthday/front.scss */
.popover {
  min-width: 300px;
}

/* line 105, ../../../compass/sass/front/birthday/front.scss */
.right-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background: #fff;
  padding: 15px;
  z-index: 1000;
  margin-right: -298px;
  transition: all .3s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* line 119, ../../../compass/sass/front/birthday/front.scss */
.right-panel.opened {
  margin-right: 0;
}

/* line 123, ../../../compass/sass/front/birthday/front.scss */
.fb-comments {
  position: absolute !important;
  top: 0px;
  left: 10px;
  right: -15px;
  bottom: 0;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  /* line 123, ../../../compass/sass/front/birthday/front.scss */
  .fb-comments {
    right: 10px;
    top: 45px;
  }
}

/* line 137, ../../../compass/sass/front/birthday/front.scss */
.comment {
  position: absolute;
  top: 10px;
  left: -90px;
  background: #FF9800;
  color: #fff !important;
  border-radius: 50%;
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none !important;
}
/* line 151, ../../../compass/sass/front/birthday/front.scss */
.comment .fb-comments-count {
  position: absolute;
  border-radius: 20px;
  background: #3b5998;
  color: #fff;
  display: inline-block;
  padding: 0px 4px;
  text-align: center;
  bottom: 0;
  left: 0;
  line-height: 16px;
  font-size: 10px;
}

/* line 166, ../../../compass/sass/front/birthday/front.scss */
.comment::before {
  content: ' ';
  position: absolute;
  bottom: 10px;
  right: -3px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 18px solid #FF9800;
}

/* line 178, ../../../compass/sass/front/birthday/front.scss */
.panel-detail {
  padding: 15px;
  font-size: 13px;
}

/* line 183, ../../../compass/sass/front/birthday/front.scss */
.comment .fa-comments-o {
  display: inline;
}

/* line 187, ../../../compass/sass/front/birthday/front.scss */
.comment .fa-times {
  display: none;
}

/* line 191, ../../../compass/sass/front/birthday/front.scss */
.opened .comment .fa-comments-o {
  display: none;
}

/* line 195, ../../../compass/sass/front/birthday/front.scss */
.opened .comment .fa-times {
  display: inline;
}

/* line 199, ../../../compass/sass/front/birthday/front.scss */
.btn-default {
  background: #efefef;
  border-radius: 4px;
}

/* line 204, ../../../compass/sass/front/birthday/front.scss */
.modal-header {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  background: #FF9800;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 215, ../../../compass/sass/front/birthday/front.scss */
.modal-content {
  border: 3px solid #fff;
}

/* line 219, ../../../compass/sass/front/birthday/front.scss */
.btn-primary {
  background: #FF9800;
  border-color: #FF9800;
}
/* line 223, ../../../compass/sass/front/birthday/front.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ffa21a !important;
  border-color: #ffa21a !important;
}

/* line 231, ../../../compass/sass/front/birthday/front.scss */
.avatar {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
}
/* line 241, ../../../compass/sass/front/birthday/front.scss */
.avatar .btn-add-friend {
  position: absolute;
  font-size: 1em;
  background: #607D8B;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  /* line 256, ../../../compass/sass/front/birthday/front.scss */
  .full-xs {
    width: 100%;
  }

  /* line 260, ../../../compass/sass/front/birthday/front.scss */
  .no-log {
    margin-bottom: 10px;
  }
}
/* line 265, ../../../compass/sass/front/birthday/front.scss */
.name {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
}

/* line 272, ../../../compass/sass/front/birthday/front.scss */
.error {
  padding: 30px;
  background: rgba(244, 67, 54, 0.7);
  color: #fff;
  position: fixed;
  display: inline-block;
  top: 30px;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 283, ../../../compass/sass/front/birthday/front.scss */
.error p {
  margin: 0;
}

/* line 288, ../../../compass/sass/front/birthday/front.scss */
.current-user {
  position: absolute;
  top: 30px;
  left: 0;
  background: #fff;
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  font-family: 'Bangers', cursive;
  overflow: auto;
  line-height: 30px;
}
/* line 301, ../../../compass/sass/front/birthday/front.scss */
.current-user .current-avatar {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  float: left;
}
/* line 310, ../../../compass/sass/front/birthday/front.scss */
.current-user a {
  margin-left: 10px;
  color: #000;
}
/* line 314, ../../../compass/sass/front/birthday/front.scss */
.current-user a .fa {
  color: #FF9800;
}

/* line 320, ../../../compass/sass/front/birthday/front.scss */
.current-user-friends {
  position: absolute;
  top: 80px;
  left: 0px;
  padding: 0;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  z-index: 10;
}
/* line 333, ../../../compass/sass/front/birthday/front.scss */
.current-user-friends li {
  list-style: none;
}
/* line 336, ../../../compass/sass/front/birthday/front.scss */
.current-user-friends li:last-child {
  margin-bottom: -4px;
}
/* line 340, ../../../compass/sass/front/birthday/front.scss */
.current-user-friends li .friend-img {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
